{% extends "base.html" %}

{% block content %}
<div style="max-width: 500px; margin: 0 auto;">
    <h2>Detalhes Pagamento </h2>
    <div class=" border p-3 container">
        <div>
            <h2>{{payment.student.name}}</h2>
            <span><strong>Método de Cobrança: </strong>{{ payment.student.get_billing_method_display }}</span><br>
            <span><strong>Dias de treino: </strong> {{payment.student.class_days}}</span><br>
            <span><strong>Quantidade de treinos: </strong> {{payment.student.class_quantity}}</span><br>
            <span>{% if payment.student.billing_method == 'aula' %}<strong>Preço por aula: </strong>{% else %} <strong>Valor mensalidade:</strong> {% endif %} {{payment.student.class_price}}</span><br>
            <span><strong>Desconto: </strong> {{payment.student.discount}}%</span><br>
            <span><strong>Valor a pagar: </strong> {{payment.student.value_discount|floatformat:2}}</span><br>
            <span><strong>Número de telefone: </strong>{{payment.student.phone_number}}</span><br>
            <span><strong>Data de vencimento: </strong>{{payment.student.due_date}}</span><br>
            <div class="mb-3"></div>
            <div>
                <a href="{% url 'payment_create' payment.id %}">
                    <button class="btn btn-primary">Registrar Pagamento</button>
                </a>
            </div>
        </div>
        <div class="d-flex justify-content-between"><a href="{% url 'payment_pending_list' %}" class="btn border p-2 mt-3">Voltar</a></div>
    </div>
</div>
{% endblock %}